a {
  color: black;
}

.homeSlider {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
  height: 400px;
}

.cardImageBox {
  position: relative;
  border: 1px solid lightgrey;
  border-radius: 10px;
  width: 200px;
  height: 250px;
  margin: auto;
  overflow: hidden;
}

.cardImageBox > img {
  width: 200px;
}

.cardImageBox > label {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.061);
  padding: 5px 20px;
  border-radius: 10px;
}

.myCard {
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.myCard:hover {
  transform: scale(1.03);
}

.myCard:active {
  transform: scale(0.97);
}

.centeredForced {
  display: flex;
  align-items: center;
  padding: 20vh;
  justify-content: center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}

footer > a {
  color: white;
}

.myFlex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.prodImages {
  max-width: 300px;
  border: 1px solid lightgray;
}

.prodInfo {
  width: 400px;
  margin: 0px auto;
}

.tableCart {
  width: 100%;
}

.removeBt {
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.removeBt:hover {
  transform: scale(1.1);
}

.removeBt:active {
  transform: scale(0.9);
}

.removeBt:focus {
  outline: none;
}

.pageDiv {
  min-height: calc(100vh - 227px);
}

.bigImage {
  width: 90%;
}

@media only screen and (max-width: 700px) {
  .flexAutoMargin {
    margin: auto;
  }
}
@media only screen and (max-width: 450px) {
  .topNav {
    transform: scale(0.6);
  }
  .homeSlider {
    height: 250px;
  }
}
